<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--<add key="receivers" value="marcelo.parodi@cpas.com.br; paulo.mayon@cpas.com.br; gustavo.arfux@cpas.com.br; vitor.chiamente@cpas.com.br ; ritchie.guder@cpas.com.br; karine.casali@cpas.com.br; diana.lima@cpas.com.br; nilton.terng@cpas.com.br; douglas.canducci@cpas.com.br; "/>-->
		<add key="preco" value="bruno.araujo@enercore.com.br" />
		<add key="desenv" value="bruno.araujo@enercore.com.br" />
		<add key="desenv_pedro" value="bruno.araujo@enercore.com.br; pedro.modesto@enercore.com.br" />
		<add key="bruno" value="bruno.araujo@enercore.com.br" />
		<!--<add key="login" value="douglas.canducci@cpas.com.br" />-->
		<add key="login" value="bruno.araujo@cpas.com.br" />
		<add key="senha" value="Br@compass" />
		<!--<add key="senha" value="Pas5Word" />-->
		<add key="sendMail" value="0" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
		<add name="IPDOEntities" connectionString="metadata=res://*/Consulta.csdl|res://*/Consulta.ssdl|res://*/Consulta.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.206.194.187;initial catalog=IPDO;persist security info=True;user id=consulta;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="IPDOEntities1" connectionString="metadata=res://*/ACOMPH.csdl|res://*/ACOMPH.ssdl|res://*/ACOMPH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.206.194.187;initial catalog=IPDO;user id=sa;password=cp@s9876;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
			</provider>
		</providers>
	</entityFramework>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.17.0" newVersion="8.0.17.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>